__pycache__
*.pth*
.autoenv*
runs
exp
build
checkpoints
*.prof
.lvimrc
.vimtags
.ccls
.ccls-cache/
dist/
*.egg-info/
*.zip
*.so
.tox/
.mypy_cache
**/*.pyc

.ipynb_checkpoints/
outputs/
.vscode
.DS_Store
visual
slurm*
results